.headline-image {
  margin-top: 128px;
}

.headline-tag {
  text-align: center;
  color: white;
  margin-top: 64px;
  padding-bottom: 128px;
}

.headline-feature {
  display: inline-block;
  font-size: 28px;
  padding: 16px 0;
}