.headline-image {
  padding: 128px 0;
}

.headline-tag {
  padding: 128px 0;
  font-weight: 300;
}

.headline-tag small {
  font-weight: 300;
}

.feature-title {
  display: inline-block;
  font-size: 28px;
  padding: 16px 0;
  font-weight: 200;
}

.feature-text {
  font-weight: 300;
}

.display-4 small {
  font-weight: 200;
}

